@import 'libs/fonts';
@import 'libs/bootstrap-reboot.min';
@import 'base/animate';

body {
    font-family: 'Cutive', 'Raleway';
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}
a, button, a:active, button:active, a:focus, button:focus   {
    outline: none;
}

.hamburger, .mobile {
    display: none;
}

@import 'block/header';
@import 'block/promo';
@import 'block/story';
@import 'block/help';
@import 'block/catalog';
@import 'block/recomend';
@import 'block/appointment';
@import 'block/footer';

@import 'block/button';

@import 'base/media';
